.contact,
.contact_page {
    padding-block: 3rem 3rem;
    @media (min-width:992px) {
        padding-block: 3rem 7rem;
    }
    &__inner {
        display: grid;
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-columns: repeat(2,1fr);
        }
    }

    &__socials {
        .social_icons {
            display: flex;
            gap: 1rem;
        }
        i {
            font-size: var(--fs-600);
            color: var(--col-taupe-600);
            transition: color var(--transition);
            &:hover {
                color: var(--col-taupe-400);
            }
        }
    }

    &__phone {
        font-size: var(--fs-600);
        font-family: var(--ff-heading);
        a {
            text-decoration: none;
            color: var(--col-taupe-600);
            &:hover {
                color: var(--col-taupe-400);
            }
        }
    }

}
.contact_page {
    padding-block: 3rem 0;
    margin-bottom: -1.8rem;
}