.contact {
    .full_cow {
        position: absolute;
        right: 1vw;
        width: min(200px,20vw);
        top: 0;
        @media (min-width:1000px) {
            width: min(300px,30vw);
        }
        @media (min-width:1400px) {
            right: 5vw;
            top: unset;
            bottom: 0;
        }
    }

    h2 {
        @media (min-width:992px) {
            text-align: center;
        }
        margin-bottom: 2rem;
    }
    &__intro {
        max-width: 600px;
        text-wrap: balance;
        @media (min-width:992px) {
            margin-inline: auto;
        }
    }
}