.reviews {
    .splide {
        position: relative;
        isolation: isolate;
        background-color: var(--col-blue-400);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -40px;
            height: 42px;
            @media (min-width:568px) {
                top: -60px;
                height: 62px;
            }
            width: 100%;
            background-color: var(--col-blue-400);
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 95%);
            z-index: -1;
        }
    }
    .splide {
        margin-top: 2rem;

        &__track {
            padding-block: 3rem;
        }

        &__inner {
            width: min(768px,80vw);
            margin-inline: auto;
            color: white;
            text-align: center;
            .testimonial__content {
                font-size: var(--fs-500);
                margin-bottom: 0.5rem;
            }
            .testimonial__cite {
                font-family: var(--ff-headings);
            }
        }
        .splide__arrow {
            opacity: 0;
            @media (min-width:768px) {
                opacity: 1;
            }
        }
    }

    .wrapper {
        position: relative;
    }
    .lottie-stars {
        position: absolute;
        z-index: 10;

        width: 150px;
        height: 150px;
        right: 10px;
        top: -50px;
        @media (min-width:568px) {
            width: 175px;
            height: 175px;
            top: -25px;
        }
        @media (min-width:992px) {
            width: 200px;
            height: 200px;
            top: 0;
        }

    }

}