@import "props";
@import "colours";
@import "typography";
@import "buttons";
@import "header";
@import "footer";
@import "blog";
@import "blocks/blocks";

.edit-link {
    display: none;
}

a {
    transition: color var(--transition);
}

.container-xl .container-xl {
    padding-inline: 0;
}

main {
    a {
        text-decoration: none;
        font-weight: var(--fw-600);
        color: inherit;
        &:hover {
            color: var(--col-yellow-400)
        }
    }
}

.anchor {
    display: block;
    position: relative;
    top: calc( 100px * -1);
    visibility: hidden;
}

.wpcf7-select {
    @extend .form-select;
}
input[type=submit].wpcf7-submit {
    &:disabled {
        background-color: var(--col-orange-500);
        &:hover {
            background-color: var(--col-yellow-500);
        }
    }
    width: auto;
    background-color: #39464e;
    color: var(--col-white);
    border-radius: 2px;
    padding: 0.5rem 2.5rem;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: var(--fw-600);
    transition: background-color var(--transition);
    &:hover {
        background-color: #889095;
    }
}
