footer {
    background-color: var(--col-denim-400);
    color: #fff;

    margin-top: 2rem;
    padding-top: 50px;
    padding-bottom: 1rem;
    clip-path: polygon(0 150px,120px 0,100% 70px,100% 100%,0 100%);

    font-size: var(--fs-300);

    .h4 {
        color: #fff;
    }

    a {
        color: var(--col-white);
        text-decoration: none;
        &:hover {
            color: var(--col-yellow-400);
        }
    }

    .fa-ul li {
        padding-bottom: 0.5rem;
    }

    .social_icons {
        display: flex;
        gap: 1rem;
        font-size: var(--fs-600);
    }

    .colophon {
        font-size: var(--fs-300);
        border-top: 1px solid #ffffff99;
        margin-top: 2rem;
        padding-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        a {
            opacity: 0.6;
            transition: opacity var(--transition);
            &:hover {
                color: white;
                opacity: 1;
            }
        }
    }
}