header {

    .logo {
        position: relative;
        width: 100px;

        svg .cls-1 {
            fill: #fff;
            animation: fill-white-to-blue linear both;
            animation-timeline: scroll();
            animation-range: 0 150px;
        }

        @media (min-width: 992px ) {
            width: 300px;
        }
        height: 58px;
        & > * {
            position: absolute;
            top: 0;
            left: 0;
        }
        &__full {
            opacity: 0;
        }
        &__icon {
            opacity: 1;
        }
        @media (min-width: 992px ) {
            &__full {
                opacity: 1;
            }
            &__icon {
                opacity: 0;
            }
        }
    }

    animation: add-shadow linear both;
	animation-timeline: scroll();
	animation-range: 0 150px;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    transition: top var(--transition);
    max-width: 100vw;

    &.hidden {
        top: -110px;
    }

    .nav-link {
        position: relative;
        font-family: var(--ff-heading);
        font-size: 24px;
        padding-block: 1rem;
        color: white;
        animation: color-white-to-blue linear both;
        animation-timeline: scroll();
        animation-range: 0 150px;
        transition: color var(--transition);
        &:hover,
        &:focus-visible {
            color: white;
            &::after {
                width: 100%;
            }
        }
        @media (min-width:992px) {
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px; /* Line thickness */
                bottom: 1rem; /* Positioning the line just below the text */
                left: 0;
                background-color: white; /* Line colour */
                animation: bg-white-to-blue linear both;
                animation-timeline: scroll();
                animation-range: 0 150px;
                transition: width var(--transition); /* Animation effect */
            }
        }
    }

}



@keyframes shrink-name {
    to { font-size: 1.5rem; }
}
@keyframes add-shadow {
    from { background-color: transparent; }
    to { box-shadow: 0 5px 5px -3px rgba(0,0,0,.26); background-color: var(--col-white); }
}


@keyframes color-white-to-blue {
    to {
        color: var(--col-denim-400);
    }
}
@keyframes bg-white-to-blue {
    to {
        background-color: var(--col-denim-400);
    }
}

@keyframes loop {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes fill-white-to-blue {
    to {
        fill: var(--col-denim-400);
    }
}
@keyframes stroke-white-to-blue {
    to {
        stroke: var(--col-denim-400);
    }
}